{% extends 'ShopApp/blockes.html' %}

{% block title %}
    Products list
{% endblock title %}

{% block body %}
    <h1>Products</h1>
    {% if products %}
        <div>
            {% for product in products %}
                <div>
                    <p>Name: {{product.name}}</p>
                    <p>Price: {{product.price}}</p>
                    <p>Discount: {% firstof product.discount "no discount"%}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>No products yet</h1>
    {% endif %}
{% endblock body %}